{% extends '::base.html.twig' %}

{% block content_container %}

    <div id="login-container">

      {% include 'TacticsAdminBundle:Default:flash_messages.html.twig' %}

      {% block content %}

      {% endblock content %}

    </div> <!-- /content -->

{% endblock %}