<div class="btn-toolbar pull-right acties">
  <div class="btn-group">
    {% if acties is empty %}
      <a class="btn disabled" data-toggle="dropdown">
        Acties&nbsp; <span class="caret"></span>
      </a>
    {% else %}
      <a class="btn dropdown-toggle" data-toggle="dropdown">
        Acties&nbsp; <span class="caret"></span>
      </a>
      
      <ul class="dropdown-menu">
        
        {% for actie in acties %}
          <li>
            <a href="{{ actie.url is defined ? actie.url : '' }}">
              {% if actie.icon is defined %}
                <i class="{{ actie.icon }}"></i>
              {% endif %}
                
              {{ actie.title is defined ? actie.title : 'Actie' }}
            </a>
          </li>
        {% endfor %}
          
      </ul>
    {% endif %}
  </div>
</div>