<ul class="nav">
    {% for module_group_name, modules in menu %}
            <li>
                <a href="#subnav-{{ module_group_name }}">
                    {{ module_group_name }}
                </a>
            </li>
    {% endfor %}
</ul>
