<ul class="nav nav-pills" id="main_nav">
    {% for module_group_name, modules in menu %}
            <li class="dropdown">
                <a class="dropdown-toggle" href="#subnav-{{ module_group_name }}">
                    {{ module_group_name }}
                </a>
            </li>
    {% endfor %}
</ul>