/*
    Document   : print_css
    Created on : 12-sep-2012, 9:30:14
    Author     : Jeroen
    Description:
        Purpose of the stylesheet follows.
*/

.navbar,
.navbar-inner,
.subnav,
.breadcrumb,
.page-title,
#footer,
.accordion,
#filter,
.filter,
.sf-toolbarreset,
.btn,
.nav,
.nav-tabs,
#ribbon{
    display: none ! important;
}
.scrollpane {
    overflow: visible;
    width: 100%;
}
#chart_div {
    width: 100%;
    color : black;
}

#content {
    margin: 0;
    padding: 0;
    height : auto;
    width: auto;
}
.widget ,
.row > .span12 ,
.container {
    width: auto;
}

.row {
    margin: 10px;
}
.widget-content {
    padding: 10px;
}

a {
    color: black ! important;
}

button {
    display: none ! important;
}

.widget-header {
    background: none ! important;
}

body {
    background: none ! important;
}

.tab-pane {
    display: block ! important;
}

.table {
    margin-bottom: 50px;
    width: 100%;
}
.table th {
    border: none ;
}

.table td {
    border: none;
}

.widget-header {
    border: none;
}

.widget-content{
    border: none;
}

.table-condensed th, .table-condensed td {
    padding: 1px;
}

.tab_pane {
    margin-bottom: 50px;
}

.noprint {
    display: none ! important;
}

.only_print {
    display: block ! important;
    color: black ! important;
}

.only_print_hidden {
    visibility: visible;
}

a[href]:after {
    content: "" ! important;
}

.widget {
    width: 100% !important;
}

.table-condensed th {
    border: none!important;
    padding: 0!important;
    margin: 0!important;
    font-weight: normal;
}

.table-condensed td {
    border: none!important;
    padding: 0!important;
    margin: 0!important;
}

article {
    width: 100%;

}

.widget-body {
    border: none!important;
}

article h2 {
    margin:0;
}

.table-condensed {
    border: none;
    padding: 0;
    margin: 0;
}